<h1>Kaisa behind the Robots</h1>
<p>Which robot would you want to invent or next welcome to your life?</p>
<h2>Want to build your own robot?</h2>
<p>Just submit an idea and we might organise an event to actually build your robot!!!</p>
<%= image_tag("arduino.jpg", class: "info-image") %>
